@CHARSET "ISO-8859-1";
body {
    background-color: lightblue;
}
table.center {
    margin-left:auto; 
    margin-right:auto;
}
th, td {
    padding: 15px;
}
h1 {
    color: navy;
    margin-left: 20px;
}

.btn-group button {
    background-color: #F0F0F0; 
    border: 1px solid green; 
    color: black; /* White text */
    padding: 10px 24px; 
    cursor: pointer; 
    float: left; 
   
}


.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #00ff00;
}
